.card {
  width: 413px;
}
.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.card__title {
  width: 353px;
  height: 24px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/Heart\ icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 4288px;
  }
}
